@model EmailContact
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Me</h1>

<p>Hello, please fill out the below information and hit send to get in contact with me.</p>


<div class="row">
    <div class="col-md-6">
        <form asp-asp-controller="Contact" asp-action="Index" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="PersonalEmail">Personal Email</label>
                <input asp-for="PersonalEmail" class="form-control" type="email"/>
                <span asp-validation-for="PersonalEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="EmailSubject">Email Subject</label>
                <input asp-for="EmailSubject" class="form-control" type="text" />
                <span asp-validation-for="EmailSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="EmailMessage">Email Message</label>
                <textarea asp-for="EmailMessage" class="form-control" text-wrap:normal" type="text"></textarea>
                <span asp-validation-for="EmailMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send"  class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @ViewData["ActionStatus"]
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>