@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />

<h3><u>Information Collected</u></h3>

<h5>Personal Data</h5>
<p>This website does not collect or share any personal information.<br /></p>

<h5>3rd Parties</h5>
<p>No information is shared with 3rd parties, and no information is obtained from 3rd parties.<br /></p>

<h5>Advertising</h5>
<p>No advertising is done, so no information is obtained or given through advertising.<br /></p>

<h5>Technical Data</h5>
<p>
    Limited technical data is collected. This is for analytical purposes.<br />
    The only information collected is the number of time a page has been visited.<br />
    This information is collected anonymously, and no information besides the page being visited is collected.
</p>
