@page

@{
    int programYears = DateTime.Now.Year - 2019;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Hello, my name is Colin Kern and welcome to my website that I have built using NET Core 3.1, C#, and Razor Pages.
    </p>
</div>

<div class="container pt-2">
    <div class="row ">
        <div class="col-sm-7 col-lg-4">
            <div style="min-height: 200px; word-wrap: normal " id="1">
                <img src="/Images/MePic.png" alt="ColinPic" width="350" height="350" class="d-block mx-auto" />
            </div>
        </div>
        <div class="col-sm-5 col-lg-8">
            <div style="min-height: 200px; word-wrap: normal " id="1">
                <p>
                    My name is Colin Kern. I am currenlty a programmer in the insurance industry. I have been working as a programer for the past
                    @programYears years. I started out writing scritps while working Tech Support. You can check out my scripts and other projects
                    I've worked on by visiting my GitHub Projects page, <a asp-page="/GitHub">or by clicking here</a>.
                    My scripts are a mix of Python, Powershell, and AutoHotKey. All the other projects are written in C#.
                </p>
                <p>
                    I am most experienced in .NET languages such as C# and Visual Basic, as that is what I spend most of my day interacting with.
                </p>
                <p>
                    I graduated from Iowa State University in Ames, Iowa in May 2017 with a Bachelors of Science degree in Management Information
                    Systems (MIS).
                </p>
                <p>
                    When I'm not programming you'll probably find me in the gym, or on the courts playing Pickleball.
                </p>
                <p>
                    Feel free to look around at the <a asp-page="/GitHub">GitHub Projects</a> I've done.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container pt-2">
    <div class="row ">
        <div class="col-sm-12 text-left">
            <div style="min-height: 200px; word-wrap: normal " id="1">
                <b>Programming</b>.<br />
                I started out my post college carreer working in Tech Support, on the IT Service Desk. It was there that
                I taught myself my first programming language, Python. After learning Python I was presented opportuniites on the IT Service Desk
                to learn other scripting languages, like AutoHotKey and Powershell. After a few years of doing scripting languages I decided to
                learn a new language, someting that was more object oriented. I decided to teach myself C#. So I spent the next few months doing
                online examples, reading lots of online documentation, and writing a few simple programs. With my new knowledge of C# I was able
                to get the Application Analyst job that I currently have. In this role I use C# and .NET all the time. Whether it's working on
                Azure hosted applications or developing on prem solutions.
            </div>
        </div>
    </div>
</div>